PORT=3000
NODE_ENV=development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=fs0005
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres:postgres_password@localhost:5432/fs0005?schema=public"
